@using Media_Gate.Models
<table class="table">
    <tr>
        <th>Detail Field</th>
    </tr>
    @if (Session["Details"] != null)
    {
        foreach (var item in Session["Details"] as List<Service_Details>)
        {
            <tr>
                <td>
                    @item.Detail
                </td>
            </tr>
        }
    }
</table>

